<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>To do List</title>
</head>

<body>

    <% if(message != "") {  %>
        <section class="message message-<%= type %>">
            <p><%= message %></p> 
            <span id="close">&times;</span>
        </section>
    <% }  %>

    <header class="header">
        

        <% if (tarefa==null) { %>

            <h1>To Do List</h1>

            <form action="/add" method="post" class="flex">
                <input type="text" name="tarefa" id="myInput" placeholder="Insira uma tarefa">
                <button id="addBtn" type="submit">Adicionar</button>
            </form>

        <% } else { %>

            <h1>To Do List - Editar</h1>

            <form action="/update/<%= tarefa._id %>" method="POST" class="flex">
                <input type="text" name="tarefa" id="myInput" value='<%= tarefa.tarefa %>'>
                <button id="addBtn" type="submit">Atualizar</button>
            </form>

        <% } %>
    </header>

    <section id="tasks">
        <ul>
            <% listaTarefas.forEach((item, index)=> { %>
                <li class="feito-<%= item.feito %>">
                    <div>
                        <a href="/feito/<%= item._id %>" class="feito-<%= item.feito %>"> <%= item.tarefa %> </a>
                        <span>Criado em <%= item.dataCriacao.toLocaleDateString('pt-BR') %></span>
                    </div>
                    <div>
                        <a class="edit" href="/findOne/<%= item._id %>"><i class="bi bi-pencil-square"></i></a>
                        <a class="delete" href="/confirm/<%= item._id %>"><i class="bi bi-x-square"></i></a>
                    </div>
                </li> 
            <% }) %>
        </ul>
    </section>

    <% if (modal) { %>
        <section class="modal">
            <div id="card">
   
               <a href="/" id="fechar"><i class="bi bi-x-lg"></i></a>
               <h2>Confirmação</h2>
               <hr>
   
               <p>Deseja realmente apagar a tarefa: <%= tarefaDel.tarefa %> </p>
               <div id="btns">
                  <a class="btn-cancelar" href="/">Não</a>
                  <a class="btn-apagar" href="/delete/<%= tarefaDel._id %>">Sim</a>
               </div>
            </div>
         </section>
    <% } %>
    
    <script src="/js/script.js"></script>
</body>
</html>